*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #fff;
}
.main-section {
    background-image: url(images/contact.jpg);
    background-position: center;
    background-size: cover;
    animation: fadeIn 2s ease-in-out;
    
}
.login-section {
    height: 100vh;
}
.register-section {
    height: 200vh;
}

.form-box{
    width: 500px;
    background: rgba(0,0,0,0.8);
    margin:  auto;
    padding: 50px 0;
    color: white;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 40%;
}
.form-box p{
    margin-bottom: 20px;
    padding: 0;
    font-weight: bold;
    font-size: 20px;
}
.form-box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
    padding: 50px;
}
.form-box a:hover{
    color: #ffc107;
}
h1{
    text-align: center;
    margin-bottom: 40px;
}
.input-box{
    margin: 31px auto;
    width: 80%;
    border-bottom: 1px solid white;
    padding-top: 10px;
    padding-bottom: 5px;
}
.input-box input{
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    color: white;
}
::placeholder{
    color: #ccc;
}
.fa{
    margin-right: 10px;
}
.eye{
    position: absolute;
}
#hide1{
    display: none;
}
.login-btn{
    margin: 40px auto 20px;
    width: 80%;
    display: block;
    outline: none;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    background: transparent;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    background: #fb2525;
}
.login-btn:hover{
    color: black;
    background: #ffc107;
}

.error-msg {
    margin: 10px 0;
    display: block;
    background: crimson;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

/* animation */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* media queries */
@media (max-width:960px) {
    .form-box{
        width: 400px;
        padding: 50px 0;
    }
    
}

@media (max-width:600px) {
    .form-box p{
        font-size: 16px;
    } 
}
